body {
  font-family: Arial, sans-serif;
  background: pink;
  text-align: center;
  padding: 20px;
}

img{
    border: 25px solid pink;
    border-radius: 50px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.current-number {
  font-size: 80px;
  margin: 20px 0;
  color: #d9534f;
  font-weight: bold;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #5cb85c;
  border: none;
  color: white;
  border-radius: 8px;
}

.numeros-sorteados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.numeros-sorteados span {
  background-color: #0275d8;
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
}
